-# add navigation links to this file
- if user_signed_in?
	%li.dropdown-submenu
		%a{tabindex: "-1", href: "#"} Admin Options
		%ul.dropdown-menu
			%li
				= link_to 'Edit account', edit_user_registration_path 
			%li
				= link_to 'Sign out', destroy_user_session_path, :method=>'delete' 
- else
	%li 
		= link_to 'Home', root_path
